---
- name: Install Node Exporter on all CDP nodes
  hosts: node_exporters
  become: yes
  vars:
    ansible_python_interpreter: /usr/bin/python3
  collections:
    - prometheus.prometheus

  roles:
    - role: node_exporter
      vars:
        node_exporter_version: "1.8.1"
        node_exporter_web_listen_address: "0.0.0.0:9100"
        node_exporter_systemd_enabled: true
        node_exporter_systemd_state: started

- name: Install Prometheus server on CDP master node
  hosts: prometheus_server
  become: yes
  vars:
    ansible_python_interpreter: /usr/bin/python3
  collections:
    - prometheus.prometheus

  roles:
    - role: prometheus
      vars:
        prometheus_version: "2.54.0"
        prometheus_web_listen_address: "0.0.0.0:9090"
        prometheus_storage_retention: "30d"
        prometheus_config_flags_extra:
          web.enable-lifecycle: true
        prometheus_alert_rules: []
 
        #  Scrape both Prometheus and Node Exporter locally on each node
        prometheus_scrape_configs:
          - job_name: "prometheus"
            static_configs:
              - targets:
                - "10.1.14.174:9090"
                - "10.1.14.223:9090"
                - "10.1.14.165:9090"

          - job_name: "node_exporter"
            static_configs:
              - targets:
                - "10.1.14.174:9100"
                - "10.1.14.223:9100"
                - "10.1.14.165:9100"

